notebooks/dask-worker-space  
app/LocalForwarder.config
notebooks/test_metric
images/*.tif
images/*.tiff
src/ # this is built from installing packages from github with conda
azure_configs.yaml
notebooks/test_metric
postgisdb/
fcis/InstanceSegmentation_Sentinel2/model/resnet_v1_101_coco_fcis_end2end_ohem/*.params
fcis/InstanceSegmentation_Sentinel2/model/resnet_v1_101_coco_fcis_end2end_ohem/*.json
fcis/InstanceSegmentation_Sentinel2/model/*.params
# Data files and directories common in repo root
data/
datasets/
logs/
*.h5
results/
temp/
test/
notebooks/aml_config/
aml_config/
models/*.h5

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Studio Code
.vscode

# PyCharm
.idea/

# Dropbox
.dropbox.attr

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

#terraform secrets, don't commit to version control
.vm*
terraform/.vm*
terraform/terraform.tfvars 
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform.tfvars
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
terraform/.terraform.tfstate.lock.info

# etc.
cropmask/tests/.cache
app/pytorch_api/.bash_history
app/pytorch_api/best-mrcnn-nebraska-model-rgb-jpeg-split-geo-nebraska-freeze0-withseed.pth
app/pytorch_api/results_LT05_CU_012008_20050702_20190102_C01_V0_-632777_2027019.png
app/pytorch_api/results_LT05_CU_012008_20050920_20190107_C01_V0_-655817_2050059.png
app/pytorch_api/results_LT05_CU_013008_20050828_20190107_C01_V0_-485025_2041605.png
app/pytorch_api/supervisord.log
images/L5_september_29_smallclip.tiff.aux.xml
images/aoi_restricted_LT05_CU_015008_20050830_20190107_C01_V0_-292545_2033925.jpg
images/aoi_restricted_LT05_CU_015008_20050830_20190107_C01_V0_-300225_2018565.jpg
images/aoi_restricted_LT05_CU_015009_20050722_20190102_C01_V0_-169665_1934999.jpg
models/best-mrcnn-nebraska-model-rgb-jpeg-split-geo-nebraska-freeze0-withseed.pth
